html, body, h1 {
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    height: 10vh;
    font-size: larger;
}

h1 {
    padding: 2vh;
}

#start-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.start-btn, .again-btn, .again-btn2 {
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}

.start-btn:active, .again-btn:active, .again-btn2:active {
    background-color: white;
    color: black;
}

#quiz-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 70%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#leaderboard-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#timer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#question-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#loss-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#win-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#leaderboard-ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}